<!-- tabela-com-paginacao.component.html -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let column of columnNames; let i = index" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{column}}</th>
    <td mat-cell *matCellDef="let item">{{ item[keyName[i]] }}</td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>

<!-- <mat-paginator
  #paginator
  style-paginator
  *ngIf="hasPagination" 
  [pageSizeOptions]="[5, 10, 15, 20]" 
  [pageSize]="pageSize" 
  [pageIndex]="pageIndex - 1"
  [length]="lengthPagination"
  [showTotalPages]="3"
  (page)="onPageChange($event)"
>
</mat-paginator> -->
<app-custom-pagination
  #paginator
  *ngIf="hasPagination" 
  [pageSizeOptions]="[5, 10, 15, 20, 100]" 
  [pageSize]="pageSize" 
  [length]="lengthPagination"
  (page)="onPageChange($event)"
></app-custom-pagination>